/* font cdn  (Content Delivery network) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@500&display=swap');
/* external stylesheet */
*
{
    margin:0px;
    padding:0px;
    font-size: 18px;
    color: black;
    font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6
{
    font-family: "Playfair Display", serif;
}
body 
{
    background-color: rgb(255,239,206);
}
#site-header , #site-footer   
{
    background-color: rgb(23,97,124);
    height:100px;
}
#recipe
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}
#recipe>.dish:first-child
{
    margin-left: 10px;
}
.dish
{
    width:calc(25% - 10px);
    border:1px solid black;
    box-sizing: border-box;
    /* padding:10px; */
}
.dish>* /* this style apply to any child of html tag whose class name is dish */
{
    padding:20px;
}
.dish>aside>h2, .dish>div>h2 
{
    font-size: 1.4rem;  
    background-color:rgb(234,124,29);
    color:white;
    padding:10px;
    text-transform: uppercase;
}
.dish>aside>ul 
{
    list-style-type: none;
}
.dish>aside>ul>li 
{
    line-height: 150%;
    background-color: antiquewhite;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px gray;
    padding:2px 10px;
}
.dish>aside>ul>li:first-child /* below style applies only to first li of ul inside aside inside dish */
{
    margin-top: 10px;
}    
.dish>header  /* style applies only to header which is direct child of each .dish */
{
   background-color: rgb(23,97,124);
   padding:10px;
}
.dish>header>h1 
{
    text-align: center;
    font-size: 1.6rem;
    color:white;
}
.dish>header>p 
{
    color:white;
    text-align: center;
}
.dish>div>ol 
{
    list-style-position: inside;
}
.dish>div>ol>li 
{
    text-align: justify;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}