* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
}

body {
    background-color: #FFFFF0;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-areas:
        "heading heading heading"
        "menu content advertise"
        "footer footer footer";
    grid-template-rows: 15% auto 10%;
}

body>div {
    border: 1px solid black;
}

#heading {
    grid-area: heading;
    background-color: #F9CF0C;
    display: flex;
    align-items: center;
    justify-content: start;
}

#heading>div {
    display: flex;
    border: 1px solid black;
    width: 100%;
    justify-content: space-between;
}

#heading>div>ul {
    display: flex;
    list-style-type: none;
}

#menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 35px;
    padding-top: 15px;
}

#content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: none;
    padding:10px;
}

#advertise {
    grid-area: advertise;
    overflow-y: scroll;
}

#footer {
    grid-area: footer;
    background-color: #000000;
    color: #FFFFF0;
    padding: 15px;
}

.footer_text {
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 7px;
}

.footer_text>a:link,
.footer_text>a:visited,
.footer_text>a:active {
    color: white;
    text-decoration: none;
}

#heading>img {
    height: 100%;
    width: auto;
}

.menu_links {
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.menu_links:active,
.menu_links:visited,
.menu_links:link {
    color: #422B00;
}

.menu_links:hover {
    color: #D14013;
}

.single_item {
    background-color:  #F8FFF0;
    padding: 10px;
    margin: 5px;
    width:calc(25% - 30px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.text {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.single_advertise {
    background-color: #F9CF0C;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}

.add_image {
    border-radius: 12px;
}
#menu_icon 
{
    display:none;
}
/* ##Device = Desktops ##Screen = 1281px to higher resolution desktop */
@media (min-width: 1281px) {
    /* code in this block will be applied only if device width>1281 */
}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {
    /* code in this block will be applied only if device width>1025 and <1280 */
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    /* code in this block will be applied only if device width>768 and <1024 */
}

/* ##Device = Low Resolution Tablets,  ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    /* code in this block will be applied only if device width>481 and <767 */
}

/*  ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {

    /* code in this block will be applied only if device width>320 and <480 */
    body {
        grid-template-columns: 100%;
        grid-template-areas:
            "heading"
            "menu"
            "content"
            "advertise"
            "footer";
        grid-template-rows: 10% 0px auto 20% 10%;
    }
    #heading>div 
    {
        flex-direction: column;
    }
    #heading>div>ul>li>img 
    {
        height: 24px;
        width: 24px;
    }
    #heading>div>ul
    {
        justify-content: space-around;
    }
    #heading>div>h1 
    {
        text-align: center;
    }
    .single_item
    {
        width: 100%;
    }
}