doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title About Us
    include style.pug
  body
    include header.pug
    .content
      h2 About Us
      p
        | Welcome to our company. We are dedicated to providing the best service to our customers...
    include footer.pug