doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Contact Us
    include style.pug
  body
    include header.pug
    .content
      h2 Contact Us
      p
        | If you have any questions, feel free to reach out to us at contact@company.com...
    include footer.pug
