.header
    h1 The EasyLearn Academy
    .menu
      table
        tbody
          tr
            td
              a(href='aboutus.html') About Us
            td
              a(href='contactus.html') Contact Us