doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gujarat Districts
    // Bootstrap 5 CSS CDN
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css', rel='stylesheet')
  body
    .container.mt-5
      .row
        .col-md-12
          .card
            .card-header
              h3.card-title Student List of #{division}
            .card-body
              table.table.table-striped
                thead
                  tr
                    th(scope='col') #
                    th(scope='col') Name
                tbody
                    each name,index in students
                        tr
                            th(scope='row')=index+1
                            td=name
    // Bootstrap 5 JS and Popper.js CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js')