doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
    h4 other formatting related tags
    b this is bold effect
    i this is italic effect
    u this is underline effect
    b
      i
        u this is bold italic and underline effect
    strike this is strikeout effect
    br
    font(color='red', size='+6', face='Helvetica') this is one type of heading
    font(face='times new roman', size='+6', color='blue') this is one type of heading
    font(face='verdana', size='+1')
      p
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore ullam, ratione hic nisi quaerat molestiae,
        | necessitatibus voluptatibus eveniet dolores veritatis quis cum aut tempora reiciendis perferendis corrupti
        | nobis! Aperiam porro similique alias enim magnam culpa optio repellat commodi iste explicabo laudantium
        | ratione atque vitae eaque blanditiis labore dolorum corrupti ipsa cupiditate, debitis iusto. Iusto minus
        | necessitatibus enim accusantium recusandae eos esse illo tempora! Fugiat incidunt possimus ab mollitia
        | dolorum recusandae inventore, illo praesentium. Error reiciendis beatae id in! Velit aut, fugit iure totam
        | impedit laboriosam consectetur praesentium, voluptates, expedita reiciendis quod iusto deserunt aspernatur.
        | Optio corrupti officia deserunt inventore asperiores.